[toolchain]
anchor_version = "0.31.1"
solana_version = "2.2.12"

[features]
resolution = true
skip-lint = false

[programs.localnet]
ownership_check = "GhD5bDw7vBR7mo9ET56VNH85ThYqXTuWdebpGTpHvaoj"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
