[toolchain]
anchor_version = "0.31.1"
solana_version = "2.2.12"

[features]
resolution = false
skip-lint = false

[programs.localnet]
initialization_frontrunning = "8GN5wnP7R8eUhvHYW8hf9hWjyc8PoU4mEWDCSHsyESQ3"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 5000
shutdown_wait = 2000
upgradeable = true
